@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Work Sans", sans-serif;
}

.font-alegreya {
  font-family: "Alegreya" !important;
}

.font-mulish {
  font-family: "Mulish" !important;
}

.font-workSans {
  font-family: "Work Sans" !important;
}


::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #00C2CB;
  --color-secondary: #707070;
  --color-tertiary: #0D5C63;
}



.rich-text {
  font-size: 15px;
}

.rich-text p {
  margin-bottom: 16px;
  color: #292929;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 700;
  color: #252525 !important;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525 !important;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333 !important;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444 !important;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555 !important;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666 !important;
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}

.rich-text a {
  color: #007AFF
}

.user-card {
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-gray-200/50 dark:bg-gray-800 dark:border-gray-700 dark:shadow-none;
}